# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=273aaf70-768d-4e93-9a00-d8721a3b67cc

    # Set to true to disable all reporting
    B:opt-out=false
}


